<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-notificationhandler" version="1.0.0">
   
   <name>NotificationHandler</name>
   
   <js-module name="NotificationHandler" src="www/NotificationHandler.js">
      <clobbers target="NotificationHandler" />
   </js-module>
   
   
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="NotificationHandler">
            <param name="android-package" value="cordova.plugin.notificationhandler.NotificationHandler" />
         </feature>
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/NotificationHandler.java" target-dir="src/cordova/plugin/notificationhandler/NotificationHandler" />
   </platform>
   
   
   <platform name="ios">
      <config-file parent="/*" target="config.xml">
         <feature name="NotificationHandler">
            <param name="ios-package" value="NotificationHandler" />
         </feature>
      </config-file>
      <source-file src="src/ios/NotificationHandler.m" />
   </platform>
</plugin>